.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;

}

.form-group {
    margin-bottom: 1rem;

}

.form-control {
    width: 90%;
    height: 20%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    border: none;
    border-bottom: 1.5px solid transparent; 
    border-image: linear-gradient(to right, #dc670c, #fddb27);
    border-image-slice: 1;
    outline: none;
    padding: 6px 0;
    background-color: transparent;
}


.botao-entrar-usuario {
    width: 40%;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.avatar {
    position: absolute;
    top: -100px; /* Ajuste conforme necessário */
    left: 50%; /* Ajuste conforme necessário */
    transform: translateX(-50%);
    z-index: 1; /* Certifique-se de que o avatar está sobre o card */
}

.loginExistente{
    text-align: center;
    font-size: 10px;
    color: #7C778F;
    margin-top: 6px;
}

.entrar{
    color: #7C778F;
    cursor: pointer; 
}

.entrar:hover{
    color: #000;
}
