.navbar {
    top:10px;
    left: 10px;
    height: 4vh;
    width: 96vw;
    z-index: 999;
    display: flex;
    max-height: 8vh;
    min-height: 3vh;
    padding: 0.6rem;
    align-items: center;    
    justify-content: space-between;
    background-color: black;
    position: fixed;
    color: white;
    border-radius: 30px;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    right: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.navbar span {
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar input {
    height: 4vh;
    width: 30vw;
    border: none;
    border-radius: 30px;
    text-indent: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: white;
}

.perfil-user{
    margin-right: 5px;
    cursor: pointer;
}

.logo-inicio{
    cursor: pointer;
}