.navbar {
    top: 0;
    left: 0;
    height: 6vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    max-height: 8vh;
    min-height: 6vh;
    padding: 0.6rem;
    align-items: center;    
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
}

.navbar span {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.navbar input {
    height: 4vh;
    width: 30vw;
    border: none;
    border-radius: 10px;
    text-indent: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.perfil-user{
    margin-right: 5px;
}