.navbar {
    top: 0;
    left: 0;
    height: 6vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    max-height: 8vh;
    min-height: 6vh;
    padding: 0.6rem;
    align-items: center;    
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
}

.navbar span {
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar span:hover{
    background-color: #000;
    color: white;
    border-radius: 30px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.navbar input {
    height: 4vh;
    width: 30vw;
    border: none;
    border-radius: 30px;
    text-indent: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.perfil-user{
    margin-right: 5px;
    cursor: pointer;
}

.logo-inicio{
    cursor: pointer;
}