@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    background-color: #fff;
}

.container-fullpage {
    background-image: url("../../assets/fundo3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%; /*alterei aqui era 100vh */
    position: relative;
    align-items: center;
    justify-content: center;

}

.container{
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
}

.pesquisa {
    display: flex;
    gap: 5px;
}
.container-inicial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 18vh;
    margin-left: 5vw;
}

.pesquisa-titulo{
    font-size: 110pt;
    font-family: 'Modak', sans-serif;
}

.pesquisa-interrogacao{
    font-size: 300pt;
    transform: rotate(40deg);
    margin-left: 3vw;
    padding-bottom: 5vh;
    font-family: 'Modak', sans-serif;
    padding-bottom: 10px;

}

.cervejinha{
    position: absolute;
    margin-top: 49.4vh;
    margin-left: 70vw;
    height: 18vh;
}

.pesquisa-cervejinha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.subtitulo {
    font-weight: 700;
    position: absolute;
    padding-bottom: 55vh;
    font-size: 20pt;
    display: flex;
    margin-top: 82vh;
    margin-right: 35vw;
    width: 31vw;
}

.pesquisa-configure{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.pesquisa-form {
    width: 100%;
    display: flex;
    gap: 20px;

}

.pesquisa-input {
    width: 70%;
    outline: none;
    padding: 10px;
    border-radius: 30px;
}

.pesquisa-button {
    width: 30%;
    outline: none;
    padding: 10px;
    border-radius: 30px;
}

.container-input{
    display: inline-block;
    position: absolute;
    margin-top: 68vh;
    margin-right: 18vw;
}

.input-principal{
    height: 8vh;
    width: 50vw;
    font-size: 20px;
    padding-left: 2vh;
    padding-right: 5vh;
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-indent: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.input-principal::placeholder{
    font-size: 20px;
    padding-left: 2vh;
}

.botao-principal{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #000;
    color: #fff;
    font-weight: bold;
    border:none;
    float:right;
    padding: 5px 10px;
    margin-right: 20px;
    position: absolute;
    left: 96%;
    border-radius: 30px;
    height: 8.4vh;
    width: 23vw;
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.display-logos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.logos{
    background-color: #fff;
    width: 6vw;
    height: 12vh;
    border-radius: 100%;
    margin-bottom: 6vw;
}


.cidades-containers{
    display: grid;
    grid-template-columns: 0.95fr 1fr;
    grid-template-rows: 1.3fr 1fr;
    flex-direction: row;
    width: 86%;
    justify-content: space-evenly;
    margin-top: 7vh;
    padding-left: 10vw;
    margin-bottom: 7vw;
}

.cidades-procuradas{
    margin-top: 10vh;
    width: 100%;
}

.cidades-procuradas h1{
    margin-left: 20vh;
}

.linha{
    width: 3vw;
    height: 0.5vh;
    background-color: #FEF1CE;
    margin-left: 20vh;
}

.destaques{
    margin-top: 13vh;
    width: 100%;
}

.destaques h1{
    margin-left: 20vh;
}

.destaques-box{
    height: 70vh;
    width: 80vw;
    background-color: #FFFDF2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}

.destaques-txt{
    display: flex;
    flex-direction: column;
}

.destaques-txt h2{
    font-size: 5vh;
    margin-left: 6vw;
    margin-top: 10vh;
}

.destaques-txt span{
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 5vh;
    font-size: 3vh;
}

.botao-visita{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #000;
    color: #fff;
    font-weight: bold;
    border:none;
    border-radius: 30px;
    height: 8.4vh;
    width: 23vw;
    font-size: 15px;
    margin-left: 10vw;
    margin-top: 10vh;
    cursor: pointer;
}

.destaques-containers{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 8vh;
}

.destaques-containers img{
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.dica{
    margin-top: 13vh;
    width: 100%;
}

.retangulo-dica{
    width: 70vw;
    margin-bottom: 4vh;
}

.chopper-dica{
    width: 60vw;
    position: absolute;
    top: 65%;
    right: 10%;
}

.dica h1{
    margin-left: 20vh;
    margin-bottom: 2vh;
}

.dica-box{
    height: 50vh;
    width: 80vw;
    background-color: #FFFDF2;
    border-radius: 30px;
    margin-bottom: 13vh;
}

.dica-containers{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.primeira-dica{
    position: absolute;
    top: 85%;
    font-weight: bold;
    font-size: 3vh;
    margin-right: 20vw;

}

.segunda-dica{
    position: absolute;
    top: 90%;
    font-weight: bold;
    font-size: 3vh;
    margin-right: 30vw;
}

.segunda-dica img{
    width: 10vw;
    margin-left: 1vw;
}

.botao-dica{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #000;
    color: #fff;
    font-weight: bold;
    border:none;
    border-radius: 30px;
    height: 8.4vh;
    width: 23vw;
    font-size: 15px;
    position: absolute;
    top: 93%;
    margin-right: 25vw;
    cursor: pointer;
}

.cidades-box{
    display: flex;
    flex-direction: row;
    height: 33vh;
    width: 37vw;
    font-size: 3vh;
    border-bottom: 4px solid #FEF1CE;
}

.cidades-infos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2vw;
    margin-bottom: 9vw;
}

.cidades-img{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cidades-img img{
    height: 25vh;
}

.botao-vermais{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #000;
    color: #fff;
    font-weight: bold;
    border:none;
    padding: 5px 10px;
    border-radius: 30px;
    width: 15vw;
    padding-left: 10px;
    font-size: 1.2vw;
    margin-top: 3vh;
    cursor: pointer;
}

.cidades-box span{
    margin-left: 3vh;
    margin-right: 3vh;
}

.cidades-box h3{
    margin-top: 20vh;
}


.pesquisa-filtros{
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.pesquisa-filtros h3{
    font-size: 1.7vw;
}

.input-secundaria{
    height: 6vh;
    width: 30vw;
    font-size: 20px;
    padding-left: 2vh;
    padding-right: 5vh;
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-indent: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    justify-content: center;
    align-items: center; 
}

.botao-secundario{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #000;
    color: #fff;
    font-weight: bold;
    border:none;
    float:right;
    padding: 5px 10px;
    margin-right: 20px;
    position: absolute;
    left: 96%;
    border-radius: 30px;
    height: 6.4vh;
    width: 13vw;
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.container-inpu-filtro{
    display: inline-block;
    position: absolute;
    margin-top: 23vh;
    right: 38%;
}

.container-button{
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 4vh;
    margin-bottom: 7vh;
}

.button-filter{
    background-color: transparent;
    border-radius: 20px;
    font-weight: bold;
    font-size: 2vh;
    height: 5vh;
    width: 8vw;
    border-color: #000;
    border-style: double;
    cursor: pointer;
}

.button-filter:hover{
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    transition: ease-in-out 0.3s;
}

.bares-containers{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
    margin-top: 12vh;
    margin-left: 5vw;
    margin-bottom: 3vw;
}

.bares{
    width: 100%;
}

.bares h1{
    margin-left: 20vh;
}

.bares-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    width: 21vw;
    background-color: #FFFDF2;
    border-radius: 30px;
    font-size: 3vh;
    padding-bottom: 2vw;
}
.bares-box button{
    margin-left: 3vw;
}

.bares-box span{
    margin-left: 3vw;
}

.bares-img{
    width: 100%;
    height: 100%;
}

.bares-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    height: 60%;
}

.bares-info h3{
    margin-left: 1vw;
}

.bares-info span{
    margin-left: 1vw;
}

.bares-box span{
    margin-left: 3vh;
    margin-right: 3vh;
}

.boa-containers{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 12vh;
    margin-left: 10vw;
}

.boa{
    width: 100%;
}

.boa h1{
    margin-left: 20vh;
}

.boa-box{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 56vw;
    background-color: #FFFDF2;
    border-radius: 30px;
    font-size: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.boa-box img{
    width: 5vw;
    margin-left: 1vw;
}

.boa-foto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 25vw;
    background-color: #FFFDF2;
    border-radius: 30px;
    font-size: 3vh;
    background-image: url("../../assets/DonoEstab2.svg");
}

.boa-foto2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 25vw;
    background-color: #FFFDF2;
    border-radius: 30px;
    font-size: 3vh;
    background-image: url("../../assets/rolezeiro.svg");
}

.boa-box span{
    margin-left: 3vh;
    margin-right: 3vh;
}

.boa-box h3{
    margin-top: 20vh;
}

.boa-box img{
    width: 18vw;
    position: absolute;
    margin-bottom: 20px;
    bottom: 58%;
}

.boa-bloco{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4vw;
    gap: 3vw;
}

.sugestoes-box{
    display: flex;
    flex-direction: row;
    height: 34.4vh;
    width: 37vw;
    font-size: 3vh;
    background-color: #FEF1CE;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.sugestoes-img{
    width: 60%;
    margin-left: -0.3vw;
}

.sugestoes-info{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

.sugestoes-info-txt{
    height: 60%;
}

.sugestoes-info-txt span{
    font-size: 1.2vw;
}

.sugestoes-info-btn{
    height: 40%;
}

.botao-visitar{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #000;
    color: #fff;
    font-weight: bold;
    border:none;
    padding: 5px 10px;
    border-radius: 30px;
    width: 13vw;
    padding-left: 10px;
    font-size: 1.2vw;
    margin-top: 6vh;
    margin-left: 2vw;
    cursor: pointer;
}

.boa-txt1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 49vw;
    bottom: 11.3%;
}

.boa-txt2{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 49vw;
    bottom: 2%;
}