.formsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.background-imageCadastro {
    background-image: url("../../assets/LoginFundo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    display: flex;
    height: 100vh; 
    position: relative;
    align-items: flex-start;  
    justify-content: flex-start;  
    padding-top: 5vh;  
    padding-left: 2vw;  
}

.dashboard {
    display: flex;
    width: 100%;
}

.main {
    flex: 1;
    padding: 2rem;
}

.header {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.welcome {
    font-size: 1.5rem;
    font-weight: bold;
}

.userIcon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.form h2 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}

.form input,
.form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1.5px solid transparent;
    border-image: linear-gradient(to right, #dc670c, #fddb27);
    border-image-slice: 1;
    outline: none;
    padding: 6px 0;
    font-size: 0.8rem;
    background-color: #ccc;
}

.form button {
    width: calc(50% - 10px);
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.form button[aria-label="Cancelar"] {
    background-color: #ccc;
    color: #000;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.botao-entrar-usuario {
    width: 40%;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.avatar {
    position: absolute;
    top: -100px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1;
}

.loginExistente {
    text-align: center;
    font-size: 10px;
    color: #7C778F;
    margin-top: 6px;
}

.entrar {
    color: #7C778F;
    cursor: pointer;
}

.entrar:hover {
    color: #000;
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
        padding: 7rem;
    }

    .formsContainer {
        padding: 1rem;
    }

    .form {
        width: 100%;
        margin: 0;
    }
}
