.overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px;
    gap: 20px; 
    color: black;
}

.nameOverview {
    margin-left: 0.4rem;
    font-size: 36px;
    color: black;
}

.metric1, .metric2, .metric3, .metric4 {
    background-color: #FDBB27; 
    padding: 16px; 
    margin: 0; 
    flex: 1 1 200px; 
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.metric2 {
    background-color: #8A98FC;
}

.metric3 {
    background-color: #BD5A0D;
}

.metric4 {
    background-color: #2369B5;
}
