body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
}

.background-image {
    background-image: url("../../assets/LoginFundo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    display: flex;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}


.containerLoginUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}