body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
    /* background-color: #fff; */
}


.background-image {
    background-image: url("../../assets/LoginFundo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}


.containerCadastroEmpresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26%;
    height: 76vh;
    padding: 20px;
    margin: 20px;
    margin-top: 3vh;
}

.sessao{
    width: 100%;
    height: auto;
}