.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;

}

.form-group {
    margin-bottom: 1rem;

}

.form-control {
    width: 90%;
    height: 20%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    border: none;
    border-bottom: 1.5px solid transparent; 
    border-image: linear-gradient(to right, #dc670c, #fddb27);
     border-image-slice: 1;
    outline: none;
    padding: 5px 0;
    background-color: transparent;
}

.icon-user {
    height: 25vh;
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
}

.card-body{
    margin-bottom: 20vh;
}

.form-control::placeholder{
    font-size: 0.6rem;
}

.card{
    height: fit-content;
    width: fit-content;
}

.botao-entrar-usuario {
    width: 50%;
    height: 33px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: bold;
}

.loginExistente{
    text-align: center;
    font-size: 10px;
    color: #7C778F;
    margin-top: 6px;
}