body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.background-image {
    background-image: url("../../assets/fundo3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 30px;
}

.sessao {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    flex-shrink: 0;
}


.footer {
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}





/* Estilos para card */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

/* Estilos para a imagem dentro do card */
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 12px;
}

/* Estilos para o título */
.card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Estilos para a descrição */
.card p {
  font-size: 14px;
  color: #555;
}

.containerBusca {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 100px;
  width: 800px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
}

.search-input {
  padding-top: 200px;
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px 0 0 30px;
  outline: none;
  font-size: 16px;
}

.search-button {
  padding: 20px 22px;
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.search-button:hover {
  background-color: #545454;
  cursor: pointer;
  font-size: 14px;
  transition: ease-in-out 0.3s;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 5px;
  /* Ajusta o espaço entre as linhas de botões */
}

.containerJsons {
  height: 100vh; /* Ajusta a altura para ocupar a tela inteira */
  display: flex;
  flex-direction: column
}