.footer {
    background-color: black;
    color: #fff;
    height: 60vh;
    padding: 20px; 
}

.logoContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logoContainer img {
    padding-right: 20px;
    padding-left: 5px;
}

.menu {
    display: inline-block;
}

.menuTitulo {
    font-size: 30px; 
    font-weight: bold;
}

.menuContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding-top: 30px;
    margin-right: 6rem;
}

.logo {
    margin-left: 64px;
    cursor: pointer;
}

.options {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    list-style: none;
    padding-top: 0.5vh;
}

.optionsEndereco {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 0.5vh;
}

.midias {
    font-size: 2.5rem;
    padding-top: 4vh;
    padding-left: 1.3vw;
    cursor: pointer;
}

.copyright {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding-right: 6rem;
    flex-wrap: wrap; 
}

.copyright img {
    cursor: pointer;
}

@media (max-width: 768px) {
    .menuContainer {
        flex-direction: column; 
        align-items: center;
        margin-right: 0; 
    }

    .logo {
        margin-left: 0; 
    }

    .copyright {
        padding-right: 0; 
        text-align: center; 
        flex-direction: column; 
        align-items: center;
    }

    .midias {
        padding-left: 0; 
    }
}

@media (max-width: 480px) {
    .footer {
        height: auto; 
    }

    .menuTitulo {
        font-size: 24px; 
    }

    .options, .optionsEndereco {
        padding-top: 1vh; 
    }
}