.option_box {
    flex: 1; /* Ajusta o tamanho das caixas de opções para serem iguais */
    position: relative; /* Necessário para posicionar a seta */
}
  
  .multiselect-container {
    width: 100%; /* Garante que o multiselect ocupe toda a largura do .option-box */
    background-color: white; /* Fundo branco */
    border: 1px solid #ccc; /* Borda para dar um aspecto de caixa */
    padding: 10px; /* Espaçamento interno para estética */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 15px; 
    position: relative;
  }
  
  .multiselect-container input[type="text"],
  .multiselect-container input[type="search"] {
    border: none !important; /* Remove a borda do input de texto */
    box-shadow: none !important; /* Remove qualquer sombra do input de texto */
    outline: none !important; /* Remove a borda ao focar no input */
  }
  
  .multiselect-container::after {
    content: ''; 
    position: absolute;
    right: 10px; /* Ajusta a posição horizontal da seta */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta para centralizar */
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000; /* Cor da seta */
    pointer-events: none; /* A seta não interfere nos cliques */
  }

.container {
    display: flex;
    height: auto;
    width: 50%;
    background-color: #f1f1f1;
    border-radius: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container img {
    width: 70%;
    height: auto;
    max-width: 90%;
    border-radius: 10px;
}

.secao-esquerda-editar,
.secao-direita-editar {
    flex: 1;
    display: flex;
    align-items: center;
}

.secao-esquerda-editar {
    justify-content: center;
}

.secao-direita-editar form h1 {
    line-height: 0;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    color: #333;
}

.secao-direita-editar {
    flex: 1;
    display: flex;
    padding: 0 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.secao-direita-editar form {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.secao-direita-editar div h1 {
    line-height: 0;
    font-size: 4rem;
    margin-bottom: 10px;
    align-self: flex-start;
    color: #333;
}

.secao-direita-editar form input {
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1.5px solid transparent;
    border-image: linear-gradient(to right, #dc670c, #fddb27);
    border-image-slice: 1;
    outline: none;
    background-color: transparent;
    width: 80%; /* Largura máxima */
}

.secao-direita-editar form input:focus {
    outline: 0;
    box-shadow: 0 0 5px rgba(220, 103, 12, 0.5);
}

.uploadContainer {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
}

.upload {
    border-radius: 5px;
}

.arquivo {
    border-radius: 5px;
}

.checkboxContainer {
    display: flex;
    flex-wrap:wrap;
    margin-top: 20px;
    gap: 30px;
    width: 90%;
}

.checkboxContainer label {
    display: flex;
    width: auto;
    align-items: baseline;
}

.checkboxContainer input {
    margin-right: 5px;
}

.buttons-container-editar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons-container-editar button {
    width: 20%;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    align-self: flex-end;
    transition: background-color 0.3s ease;
}

.buttons-container-editar button:first-child {
    background-color: #dc670c;
}

.buttons-container-editar button:first-child:hover {
    background-color: #fddb27;
}

.buttons-container-editar button:nth-child(2) {
    background-color: #6C757D;
}

.buttons-container-editar button:nth-child(2):hover {
    background-color: #363c42;
}

.titulo {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    color: #333;
}
.food {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
    width: 100%;
    align-items: baseline;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .container img {
        height: auto;
        max-width: 40%;
        margin-top: 8rem;
    }

    .secao-direita-editar {
        width: 100%;
        padding: 0 20px;
    }

    .secao-esquerda-editar {
        width: 100%;
    }

    .secao-direita-editar form {
        width: 80%;
    }

    .buttons-container-editar {
        flex-direction: row;
    }

    .buttons-container-editar button {
        width: 25%;
        margin-top: 10px;
        margin-bottom: 2rem;
    }

    .secao-esquerda-editar form h1 {
        line-height: 0;
        font-size: 6rem;
    }
}
