@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

.container-fullpage {
    background-image: url("../../assets/LoginFundo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%; /*alterei aqui era 100vh */
    position: relative;
    align-items: center;
    justify-content: center;

}

.container{
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
}

.pesquisa {
    display: flex;
    gap: 5px;
}
.container-inicial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 18vh;
    margin-left: 5vw;
}

.pesquisa-titulo{
    font-size: 110pt;
    font-family: 'Modak', sans-serif;
}

.pesquisa-interrogacao{
    font-size: 300pt;
    transform: rotate(40deg);
    margin-left: 3vw;
    padding-bottom: 5vh;
    font-family: 'Modak', sans-serif;
    padding-bottom: 10px;

}

.cervejinha{
    position: absolute;
    margin-top: 49.4vh;
    margin-left: 70vw;
    height: 18vh;
}

.pesquisa-cervejinha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.subtitulo {
    font-weight: 700;
    position: absolute;
    padding-bottom: 55vh;
    font-size: 20pt;
    display: flex;
    margin-top: 82vh;
    margin-right: 35vw;
}

.pesquisa-configure{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.pesquisa-form {
    width: 100%;
    display: flex;
    gap: 20px;

}

.pesquisa-input {
    width: 70%;
    outline: none;
    padding: 10px;
    border-radius: 30px;
}

.pesquisa-button {
    width: 30%;
    outline: none;
    padding: 10px;
    border-radius: 30px;
}

.container-input{
    display: inline-block;
    position: absolute;
    margin-top: 68vh;
    margin-right: 18vw;
}

.input-principal{
    height: 8vh;
    width: 52vw;
    font-size: 20px;
    padding-left: 2vh;
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-indent: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.input-principal::placeholder{
    font-size: 20px;
    padding-left: 2vh;
}

.botao-principal{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #000;
    color: #fff;
    font-weight: bold;
    border:none;
    float:right;
    padding: 5px 10px;
    margin-right: 20px;
    position: absolute;
    left: 96%;
    border-radius: 30px;
    height: 8.4vh;
    width: 23vw;
    padding-left: 10px;
    font-size: 15px;
}

.display-logos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.logos{
    background-color: #fff;
    width: 6vw;
    height: 12vh;
    border-radius: 100%;
}

.vantagens-box{
    height: 50vh;
    width: 20vw;
    background-color: #FFFDF2;
    border-radius: 30px;
}

.vantagens-containers{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 12vh;
}

.vantagens{
    margin-top: 13vh;
    width: 100%;
}

.vantagens h1{
    margin-left: 20vh;
}

.linha{
    width: 3vw;
    height: 0.5vh;
    background-color: #FEF1CE;
    margin-left: 20vh;
}

.destaques{
    margin-top: 13vh;
    width: 100%;
}

.destaques h1{
    margin-left: 20vh;
}

.destaques-box{
    height: 50vh;
    width: 80vw;
    background-color: #FFFDF2;
    border-radius: 30px;
}

.destaques-containers{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 12vh;
}

.dica{
    margin-top: 13vh;
    width: 100%;
}

.dica h1{
    margin-left: 20vh;
}

.dica-box{
    height: 50vh;
    width: 80vw;
    background-color: #FFFDF2;
    border-radius: 30px;
    margin-bottom: 13vh;
}

.dica-containers{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 12vh;
}