Estilos para card .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}
.title {
  margin-top: 10px;
  font-weight: bold;
  color: #000;
}
/* Estilos para a imagem dentro do card */
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 12px;
}

/* Estilos para o título */
.card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Estilos para a descrição */
.card p {
  font-size: 14px;
  color: #555;
}

.containerBusca {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  padding-top: 200px;
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px 0 0 30px;
  outline: none;
  font-size: 16px;
}

.search-button {
  padding: 20px 22px;
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.search-button:hover {
  background-color: #545454;
  cursor: pointer;
  font-size: 14px;
  transition: ease-in-out 0.3s;
}

.containerJsons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110%;
  padding-bottom: 100px;
  margin-top: 17vw;
}

.containerJsons::-webkit-scrollbar {
  width: 12px; /* Largura do scrollbar */
}

.containerJsons::-webkit-scrollbar-track {
  background: #e8a758; /* Cor do fundo do track */
}

.containerJsons::-webkit-scrollbar-thumb {
  background-color: #b47009; /* Cor do "polegar" (thumb) */
  border-radius: 10px; /* Bordas arredondadas */
  border: 3px solid #f1f1f1; /* Espessura e cor da borda */
}

.containerJsons::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do "polegar" quando hover */
}


.card {
  width: 100%;
  display: flex;
  align-items: left;
  padding: 15px;
  border-radius: 30px;
  margin: 10px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFFDF2;
}

.imageContainer {
  flex: 1;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  flex: 2;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.location {
  font-size: 14px;
  color: #888;
}

.description {
  margin-bottom: 10px;
  font-size: 16px;
}

.additionalInfo {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.visitButton {
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  align-self: flex-start;
}

.option-container {
  display: flex;
  justify-content: space-between; /* Alinha os itens com espaço igual entre eles */
  gap: 10px;
  position: absolute;
  top: 32%; 
}

.option-box {
  flex: 1; /* Ajusta o tamanho das caixas de opções para serem iguais */
  position: relative; /* Necessário para posicionar a seta */
}

.multiselect-container {
  width: 100%; /* Garante que o multiselect ocupe toda a largura do .option-box */
  background-color: white; /* Fundo branco */
  border: 1px solid #ccc; /* Borda para dar um aspecto de caixa */
  padding: 10px; /* Espaçamento interno para estética */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 15px; 
  position: relative;
}

.multiselect-container input[type="text"],
.multiselect-container input[type="search"] {
  border: none !important; /* Remove a borda do input de texto */
  box-shadow: none !important; /* Remove qualquer sombra do input de texto */
  outline: none !important; /* Remove a borda ao focar no input */
}

.multiselect-container::after {
  content: ''; 
  position: absolute;
  right: 10px; /* Ajusta a posição horizontal da seta */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta para centralizar */
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000; /* Cor da seta */
  pointer-events: none; /* A seta não interfere nos cliques */
}

.container-inpu-filtro{
  display: inline-block;
  position: absolute;
  right: 22%;
  top: 22%;
}

.input-secundaria{
  height: 6vh;
  width: 30vw;
  font-size: 20px;
  padding-left: 2vh;
  padding-right: 5vh;
  border: none;
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-indent: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  justify-content: center;
  align-items: center; 
  background-color: white;
}

.botao-secundario{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background: #000;
  color: #fff;
  font-weight: bold;
  border:none;
  float:right;
  padding: 5px 10px;
  margin-right: 20px;
  position: absolute;
  left: 96%;
  border-radius: 30px;
  height: 6.4vh;
  width: 13vw;
  padding-left: 10px;
  font-size: 15px;
  cursor: pointer;
}

.search-bar h3{
  font-size: 1.7vw;
  position: absolute;
  top: 10%;
}

.search-container{
  height: 100%;
  width: 37vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
  }

  .details {
    padding: 10px;
  }

  .name {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }
 
}