.avaliacaoCard {
    width: 284px;
    height: 104px;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
    text-align: center;
    padding: 20px;
    transition: opacity 0.5s ease-in-out;
  }
  
   
  .avaliacaoCard .details h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .avaliacaoCard .details p {
    font-size: 16px;
    color: #555;
    font-weight: normal;
  }
  
  .avaliacaoCard .details .date {
    font-size: 0.8em;
    color: #aaa;
    font-weight: normal;

  }
  
  .avaliacaoCard .rating {
    font-size: 1.5em;
    color: black;
  }
  .star {
    font-size: 24px;
    margin-right: 4px;
  }
  
  .filled {
    color: black;
  }
  
  .outlined {
    color: transparent;
    -webkit-text-stroke: 1px black; /* For Safari */
    text-stroke: 1px black;
  }